<!DOCTYPE html>
{% load staticfiles %}
{% spaceless %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find out what that Mutex is all about">
    <meta name="keywords" content="mutex,db,malware,windows,application,mutexdb,database,mongodb,false,positive,bad,red,geunine,good,green,semaphore,mutexes,global,local,sections,base,name,objects">
    <meta name="author" content="Sriram a.k.a marirs">
    <meta name="google-site-verification" content="Zx9DIcBQI0F15RJwdk8_qodvyRCryXByFMzTHuUOQfs" />

    <title>{ mutexdb }</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static './css/bootstrap.css' %}" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static './css/main.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static './css/social.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static './css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" >

	<style>

		.form-group {
		 	margin-bottom: 8px;
		}
		#feedbackForm {
			font-size: 12px;
		}
	</style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<!-- Wrap all page content here -->
	<div id="wrap" style="padding-left:30px;">
	  
	  <!-- Fixed navbar -->
	  <div class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/"><img src={% static './img/mutexdb.png' %} width='170px' border=0 /></a>
	      </div>
	      <div class="collapse navbar-collapse">
	        <ul class="nav navbar-nav pull-right">
	          <!-- Have to code to make active the page its on
              <li<?php echo is_contains($index_page,$page) ? ' class="active"' :  ''; ?>><a href="/">Home</a></li>
	          <li<?php echo is_contains("/about/",$page) ? ' class="active"' :  ''; ?>><a href="/about">About</a></li>
	          <li<?php echo is_contains("/faq/",$page) ? ' class="active"' :  ''; ?>><a href="/faq">FAQ</a></li>
			  <li>&nbsp;</li>
			  <li<?php echo is_contains("/feedback/",$page) ? ' class="active"' :  ''; ?>><a href="/feedback">Feedback</a></li> -->
              <li class="active"><a href="/">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li class="active"><a href="/faq">FAQ</a></li>
              <li>&nbsp;</li>
              <li class="active"><a href="/feedback">Feedback</a></li>
	        </ul>
	      </div><!--/.nav-collapse -->
	    </div>
	  </div>
	  
	  {% block body %}{% endblock %}

	<div id="footer">
	  <div class="container">
	    <p class="text-muted credit">&copy; copyright reserved :: contact [at] mutexdb [dot] com <span class="pull-right" style="font-size: 10px;">Last updated on the 6th day of Dec 2016</span></p>
	  </div>
	</div>
   </div>
{% endspaceless %}
</body>
</html>