{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <hr/>
    <hr/>
    <hr/>
    <hr/>
    <!-- Begin page content -->
	  <div class="container">
	    <div class="page-header">
	<br/>&nbsp;
	      <h2>Frequently Asked Questions</h2>
	    </div> 
	    
	<div class="container">
	
		<div class="row">
		
			<div class="col-md-10">
				<p>Should you have any question in mind that is not asked here, do not hesistate to contact us. Like mentioned before, this is a beta service, and perhaps sometimes answers to these questions my be answered relatively slow. However, we will try to answer any queries as fast as possible.</p><br/>
				<p>
					<h5>Collection and use of submitted Mutex strings</h5>
					Any matched Strings (Mutexs) that is used to compare against our service is <u>NOT</u> recorded or stored anywhere. We do not want to know or have the least interest to know what people are looking for.<br/>
					However, we send ourselves alerts, when a Mutex string searched for, was not served back with a result. By this means, we can research the same and add it to our service which will largely help others in knowing for the same. If you feel at some point of time that what you pasted is sensitive, please email us the string you pasted and asking us to remove.<br/><br/>
					<strong>In short: </strong><u>No search strings are saved</u>. We take utmost care about the privacy of our users and will do everything that is possible to ensure our users privacy are protected.<br/><br/>
					<h5>API access</h5>
					Yes & No. Yes: we are working towards providing api access to our service which will return in a json format. No: It is not readily available at this point of time. Once we get our API ready, we will update our site soon.<br/><br/>

					<h5>How do I get mutexes from a machine?</h5>
					You could use the EnumerateMutex.exe from AlienVault to enumerate mutexes. You could paste a mutex out from there to find out what that mutex could be all about. <br/>You can visit their post <a href="https://www.alienvault.com/open-threat-exchange/blog/malware-exploring-mutex-objects" target="_blank">here</a> &amp; the Download is <a href="http://alienvault-labs-garage.googlecode.com/svn/trunk/EnumerateMutex.exe" target="_blank">here</a><br/>If you have a volatility dump, you can use the mutantscan to get the mutexes.<br/><br/>
					
					<h5>Do you have any examples of mutexes?</h5>
					Sure, try some of these:<br/><span style="font-size:9px">mtx_4450DEF223A120_E0031D<br/>McShStat:JOHNDOE-PC<br/>VN_MUTEX16<br/>Op1mutx9<br/>{0b7f3843-9b2c-11e3-b019-806e6f6e6963}_65536_91844:x</span><br/><br/>

					<h5>I pasted a well known mutex and I got no match</h5>
					This service is still in our beta and we are largely improving our matches. If you did not find what you were looking for, do not hesistate to contact us. We appreciate your effort to give us insight to new Mutexes and will readily include it in our service once we have validated it.<br/><br/>
					
					<h5>I'm seeing a lot of False positives</h5>
					Since we are not 100% spot on, we request you to take your time and report the same to us. We can help improve the community to get the accurate results by this means.<br/> However we do put a lot of our efforts to minimize the False positive rate.<br/><br/>
					
					<h5>I want to contribute to this service</h5>
						We are more than happy to accept any kind of contributions to our service. It could be money, server, mutex strings, coding/development, design, etc.<br/><br/>					
				</p>
			</div>
		
		</div>
	</div>
	</div>

	    
	  </div>
	</div>

	<script src="../assets/js/bootstrap.min.js"></script>
{% endblock body %}